@font-face {
  font-family: 'Marker-Felt';
  src:url('./fonts/Marker-Felt.ttf.woff') format('woff'),
      url('./fonts/Marker-Felt.ttf.svg#Marker-Felt') format('svg'),
      url('./fonts/Marker-Felt.ttf.eot'),
      url('./fonts/Marker-Felt.ttf.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Marker-Felt';
  letter-spacing: 1px;
}

body {
  margin: 0;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
  height: auto;
  width: 100%;
}

main {
  min-height: 100vh;
  background-color: #fff9d8;
  background: url('images/texture.png') repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cover-img {
  max-width: 512px;
  height: auto;
  width: 100%;
  background-image: url('images/cover-large.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 40px 0;
  height: 512px;
  color: #fff;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-cta,
.secondary-cta {
    display: inline-block;
    margin: 10px;
    padding: 15px 20px; /* Adjust vertical and horizontal padding */
    width: 100%; /* Make it full-width on smaller screens */
    min-width: 140px;
    max-width: 250px; /* Set a maximum width */
    font-size: 18px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 10px;
    text-align: center;
}

.secondary-cta {
    background-color: #3498db;
    color: #fff;
}

.secondary-cta:hover {
    background-color: #297fb8;
}

.primary-cta {
    background-color: #2ecc71;
    color: #fff;
}

.primary-cta:hover {
    background-color: #29b765;
}


/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 512px) {
  .cover-img {
    margin: 0px;
    height: 380px;
  }
}

@media screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .primary-cta,
  .secondary-cta {
      width: 100%;
      margin: 10px 0;
      font-size: 16px;
  }
}
