@font-face {
  font-family: 'Marker-Felt';
  src:url('./fonts/Marker-Felt.ttf.woff') format('woff'),
      url('./fonts/Marker-Felt.ttf.svg#Marker-Felt') format('svg'),
      url('./fonts/Marker-Felt.ttf.eot'),
      url('./fonts/Marker-Felt.ttf.eot?#iefix') format('embedded-opentype');
      font-weight: normal;
      font-style: normal;
}

body, p, h1, h2, h3, h4, h5, h6 {
  font-family: 'Marker-Felt';
  letter-spacing: 1px;
}

body {
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #fff9d8; /* Optional background color */
}

.cover-img {
  max-width: 512px;
  height: auto;
  width: 100%;
  background-image: url('images/cover.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  height: 512px; /* Set the height as needed */
  color: #fff; /* Set text color for better visibility */
}
